* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: blanchedalmond;
}

ul {
    list-style-type: none;
}

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
    padding: 10% 40%;
}

img {
    width: 80%;
}

.container{
    display: flex;
    justify-content: space-between;
}